div.containerHome {
    background-color: rgb(71, 81, 91);
    width: 55%;
    margin-left: auto;
    /* margin-right: auto; */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    
}

.text {  
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    
}

.picarimg {
    width: 40%;
    float: left;
}