ul {
    margin-top: 10px;
    padding-left: 50px;
}

.listing {
    display: flex;
    flex-direction: row;
}

.list {
    margin-top: 30px;
    background-color: rgb(141, 160, 179);
    border-radius: 10px;
    width: 50%;
    display: table-row;
}

div.material {
    margin-right: 20px;
    float: right;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

div.tools {
    margin-left: 20px;
    float: left;
    clear: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

div.tools>ul {
    padding: 50px;
}

.listing {
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
}

div.containerHome {
    background-color: rgb(71, 81, 91);
    max-width: 55%;
    margin-left: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

div.morecontainer {
    background-color: rgb(71, 81, 91);
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 33px;
}

div.morecontainer-1{
    margin-bottom: 0px !important;
}

div.containerHome2 {
    background-color: rgb(71, 81, 91);
    max-width: 55%;
    margin-right: auto;
    float: left;
    clear: left;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.text {
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
}

.picarimg {
    width: 40%;
    float: left;
    clear: right
}

.turretimg {
    width: 40%;
    float: right;
    clear: left;
    margin-top: 40px;
}

.head {
    font-weight: 900;
}

/* Home.css */

.material,
.tools {
  margin-bottom: 20px;
}

.material h1,
.tools h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.material ul,
.tools ul {
  list-style-type: none;
}

.material li,
.tools li {
  margin-bottom: 8px;
  padding: 4px 6px;
}

.final{
    width:40%;
    height: 600px;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 20px;
    min-width: 500px;
}

div.containerHome3 {
    background-color: rgb(71, 81, 91);
    max-width: 55%;
    margin-left: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
}

div.final--container{
    display: flex;
    clear: both;
    align-items: center;
    margin-left: 10%;

}

div.concept--container{
    display: flex;
    clear: both;
    align-items: center;

    margin-right: 10%;
}

.concept{
    width:40%;
    height: 600px;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 20px;
    min-width: 500px;
}

#finalImg {
    margin-left: 20%;
}