ul.li {
    list-style-type: square;
    align-items: flex-start;
    
}

.listing{
    display : flex;
    flex-direction : row;
    margin-left: auto;
    margin-right: auto;
}

.list {
    margin-top: 30px;
    background-color: rgb(141, 160, 179);
    border-radius: 10px;
    
}
div.material {
    margin-right: 20px;
    float: right;
    padding: 30px;
    width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: table-row;
}

div.tools {
    margin-left: 20px;
    float: left;
    clear: left;
    width: 50%;
    padding: 81px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: table-row;
}

.listing {
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
}


div.containerHome {
    background-color: rgb(71, 81, 91);
    max-width: 55%;
    margin-left: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
}

div.morecontainer{
    background-color: rgb(71, 81, 91);
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
div.containerHome2 {
    background-color: rgb(71, 81, 91);
    max-width: 55%;
    margin-right: auto;
    float: left;
    clear:left;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.text {  
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
}



.picarimg {
    width: 40%;
    float: left;
    clear: right
}

.turretimg {
    width: 40%;
    float: right;
    clear:left;
    margin-top: 40px;
}

.head {
    font-weight:900;
}