*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.navbar{
  background-color: rgb(58, 66, 74);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 60px;
}
.site-title{
  font-size: 2rem;
}
.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a{
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: .25rem;
  height: 100%;
}

.navbar li.active{
  background-color: #555;
}

.navbar li:hover{
  background-color: #777;
}

.container{
  margin: 1rem;
  text-align: center;
}